<% if @user.errors.any? %>

  <div id="error_explanation">
    <h5>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this post from being saved:
    </h5>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<br>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<br>
<div>
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<br>
