<h1>Welcome, <%= current_user.name %></h1>

<%= @most_valuble %>
 <%= link_to 'Add a new copy of a Book', '/books/new' %>
 <br>
 <%= link_to 'See All My Books', '/books' %>
 <br>
 <%= button_to 'Logout', '/logout' %>
