<h1>Welcome, <%= current_user.name %></h1>

 <%= link_to 'Add A New Copy of a Book', '/books/new' %>
 <br>
 <%= link_to 'See My Collection', user_books_path(current_user) %>

 <br>
 <%= link_to 'See My Most Valuble Book', '/most_valuble' %>

 <%= button_to 'Logout', '/logout' %>
