<h1>Welcome, <%= current_user.name %></h1>
<h3>Here are all of your books</h3>
<ul>
  <%= current_user.user_books.map do |book| %>
  <%= i = Book.find(book.id)%>
   <li><%= i.title  %></li>
   <li><%= i.author  %></li>
   <li><%= book.condition  %></li>
   <li><%= book.description  %></li>
   <li><%= book.price  %></li>


  <hr>

  <% end %>
</ul>

<%= button_to 'Logout', '/logout' %>
