<h1>Welcome, <%= current_user.name %></h1>
<% if current_user.admin %>
 <%= link_to 'Add A New Book', '/books/new' %>
 <br>
 <% end %>
 <%= link_to 'Add a Copy of a Book' %>
 <br>
 <%= link_to 'See My Collection', user_books_path(current_user) %>

 <br>
 <%= link_to 'See My Most Valuble Book', '/most_valuble' %>
<br>
 <%= button_to 'Logout', '/logout' %>
