<h1>Welcome, <%= current_user.name %></h1>
<% if current_user.user_books == [] %>
<%= "You don't have any books yet!" %>
<% else %>
<h3>Here are all of your books</h3>
<ul>
  <%= current_user.user_books.map.with_index(0) do |user_book, i| %>
<strong><%= i %></strong>
   <li>Book Title: <%= user_book.book.title %></li>
   <li>Book Author: <%= user_book.book.author %></li>
   <li>Condition: <%= user_book.condition %></li>
   <li>Description: <%= user_book.description %></li>
   <li>Price: <%= user_book.price  %></li>
   <%= link_to 'Edit My Copy', [:edit, user_book] %>
   <br>
<hr>
  <% end %>
<% end %>
</ul>
 <%= link_to 'Add a new copy of a Book', '/books/new' %>
 <br>
 <%= link_to 'See All Books', '/books' %>
 <br>
 <%= button_to 'Logout', '/logout' %>
