<% if @book.errors.any? %>

<div id="error_explanation">
  <h5>
    <%= pluralize(@book.errors.count, "error") %>
    prohibited this post from being saved:
  </h5>

  <ul>
    <% @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :author %>
<%= f.text_field :author %>
<br>
<%= f.label :volume_number %>
<%= f.text_field :volume_number %>
<br>
