<% binding.pry %>
<% if @book.errors.any? %>

<h5>
  <%= pluralize(@book.errors.count, "error") %>
  Kept This Book from being Added to your Collection:
</h5>

  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :author %>
<%= f.text_field :author %>
<br>
<%= f.label :volume_number %>
<%= f.text_field :volume_number %>
<br>
