<h1>Welcome to your Collection, <%= current_user.name %></h1>
<% if current_user.user_books == [] %>
<%= "You don't have any books yet!" %>

<% else %>
<h3>Here are all of your books</h3>
<% binding.pry %>
<ul>
  <%= @books.map.with_index(0) do |book, i| %>
<strong><%= i %></strong>

   <li>Book Title: <%= book.title %></li>
   <li>Book Author: <%= book.author %></li>
   <li> <%= link_to book_path %> </li>
   <br>
<hr>
  <% end %>
<% end %>
<br>
<%= link_to 'back to my profile', user_path(current_user) %>
</ul>
