
 <h1>Title: <%= @book.title %></h1>
 <h3>By: <%= @book.author %></h3>
 <h5>Volume: <%= @book.volume_number %></h5>
 <hr>
<h4>My Version(s):</h4>
  <% @userbook.each.with_index(1) do |book, i| %>
  <div>
    <strong>Copy Number: </strong><%= i %>
    <br>
    <strong>Condition: </strong><%= book.condition %>
    <br>
    <strong>Description: </strong><%= book.description %>
    <br>
    <strong>Price: </strong><%= book.price %>
    <br>
    <% binding.pry %>
    <%= link_to 'Edit', edit_user_book_path(current_user.id, book) %>

</div>

  <br>
  <% end %>

<br>
<hr>
<br>
<%= link_to 'My Profile', current_user %>
