
 <h1>Title: <%= @book.title %></h1>
 <h3>By: <%= @book.author %></h3>
 <h5>Volume: <%= @book.volume_number %></h5>
 <hr>
<h4>My Copy:</h4>
  <%= @userbook.map.with_index(1) do |book, i| %>
  <div>
    <%= i %>
    <br>
    <%= book.condition %>
    <br>
    <%= book.description %>
    <br>
    <%= book.price %>
  </div>
  <% end %>


<br>
<hr>
