
 <h1>Title: <%= @book.title %></h1>
 <h3>By: <%= @book.author %></h3>
 <h5>Volume: <%= @book.volume_number %></h5>
 <hr>
<h4>My Copies:</h4>
<% binding.pry %>
  <%= @book.user_books.map do |book| %>
  <ul>
    <% binding.pry %>

  <li><strong>Condition:</strong> <%= book.condition %></li>
  <li><strong>Description:</strong> <%= book.description %></li>
  <li><strong>Price:</strong> <%= book.price %></li>
</ul>

<% end %>
<br>
<hr>
